<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Criar Usuário</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1>Novo Usuário</h1>
    <form id="user-form">
      <input type="text" id="name" name="name" placeholder="Nome" required />
      <input type="email" id="email" name="email" placeholder="Email" required />
      <button type="submit">Cadastrar</button>
    </form>
    <a href="/usuarios"><button>Voltar</button></a>
  </div>
  <script src="/js/users.js"></script>
</body>
</html>
